.button-footer {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000 !important;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 10px;
    border: 3px outset #5c7c39;
    background: #8abe53;

    &:hover {
        color: #000000 !important;
        background: #8abe53;
        background: linear-gradient(to top, #509b41, #8abe53);
    }
}