// MEDIA QUERIY 
@import './abstracts/media-query';
// ESTILOS GENERALES
@import './base/reset';
// MiXINS 
@import './abstracts/mixins';
// VARIABLES 
@import './components/variables';
// BARRA DE NAVEGACIÓN
@import './layout/navbar';
// CUADRO DE PRESENTACIÓN
@import './layout/presentacion';
// BOTÓN 
@import './components/button';
// BOTÓN FOOTER 
@import './components/button-footer';


// Ambientes Inicio 
.ambientes {
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: center;

    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .primer_ambiente {
        width: 400px;
        height: 80vh;
        margin: 0 10px;
        overflow: hidden;
        border-radius: 10px;

        @include tablet {
            width: 60%;
            height: 60vh;
            text-align: center;
        }

        @include mobile {
            width: 80%;
        }

        img {
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 10px;

            @include mobile {
                width: 80%;
            }
        }

        .card_ambiente {
            text-align: center;

            p {
                text-align: left;
                font-size: 18px;
                font-weight: 500;
                color: $color-letra;
                padding: 10px;

                @include mobile {
                    font-size: 16px;
                    text-align: center;
                    width: 90%;
                    margin: auto;
                }
            }
        }
    }

    .segundo_ambiente {
        width: 60%;
        height: 80vh;
        margin: 0 10px;
        overflow: hidden;
        border-radius: 10px;

        @include tablet {
            margin: 20px 0;
            width: 100%;
            text-align: center;
        }

        @include mobile {
            width: 90%;
            height: 400px;
            background-color: aqua;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;

            @include tablet {
                width: 80%;
            }

            @include mobile {
                width: 100%;
            }
        }
    }
}


// Productos Destacados de la Semana
.contenedor-semana {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include mobile {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center
    }

    .card-productos {
        @include card (17rem, 50vh, 60%);

        @include mobile {
            width: 15rem;
            height: 45vh;
        }

    }
}

// Mueble Destacado 
.contenedor-mueble-destacado {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;

    .card {
        box-shadow: 3px 3px 3px #9fa6b2;

        .card-title {
            font-size: 18px;
            font-weight: bold;
        }

        .card-text {
            font-size: 16px;
            font-weight: bold;

            .rebaja {
                margin: 0 20px;
                color: #c23535b4;
            }
        }
    }

}


// Footer 
.footer {
    background-color: $color-primary;

    .contenedor-footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 30px 0;

        @include tablet {
            flex-wrap: wrap;
        }

        @include intermedio {
            display: flex;
            flex-direction: column;
            gap: 2em;
            align-items: center;
        }

        .columna-contacto {
            h4 {
                color: $color-letra;
                text-align: left;
                font-size: 24px;
                font-weight: bolder;
                margin-bottom: 20px;

                @include intermedio {
                    font-size: 22px;
                    text-align: center;
                }

                @include mobile {
                    font-size: 20px;
                }
            }

            p {
                color: $color-letra;
                text-align: left;
                font-size: 18px;
                font-weight: 300;

                @include intermedio {
                    font-size: 16px;
                }

                @include mobile {
                    font-size: 14px;
                }
            }
        }

        .columna-redes {
            h4 {
                color: $color-letra;
                font-size: 24px;
                font-weight: bolder;

                @include intermedio {
                    font-size: 20px;
                    text-align: center;
                }

                @include mobile {
                    font-size: 20px;
                }
            }

            a {
                margin: 20px;
                text-decoration: none;
            }

            img {
                width: 40px;

                @include mobile {
                    width: 30px;
                    margin: 20px 10px;
                }
            }
        }

        .logo-footer {
            @include tablet {
                order: 1;
            }

            @include intermedio {
                order: -1;
                text-align: center;
            }

            img {
                width: 300px;

                @include mobile {
                    width: 250px;
                }
            }
        }
    }

    .button-up {
        text-align: center;
    }

    .copyright {
        text-align: center;
        margin: 20px 0;
        color: $color-letra;
        font-size: 14px;
    }
}

// Pagina Nosotros 
.contenedor-nosotros {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

    div {
        margin: 20px 0;
    }

    .info-nosotros {
        width: 50%;
        text-align: center;
        margin: 30px 0;

        @include tablet {
            width: 90%;
        }

        img {
            width: 80%;

            @include tablet {
                width: 70%;
            }

            @include mobile {
                display: none;
            }
        }

        p {
            color: $color-letra;
            font-size: 18px;
            text-align: left;
            margin: 20px;

            @include mobile {
                font-size: 16px;
            }
        }
    }

    .mapa {

        @include intermedio {
            width: 90%;

            iframe {
                width: 100%;
            }
        }

        @include mobile {
            width: 80%;
        }
    }
}


// Pagina Contacto
.head-contacto {
    width: 80%;
    height: 80px;
    margin: 30px auto;
    background-color: $verde-claro;
    border-radius: 10px;

    h1 {
        color: $color-letra;
        font-size: 28px;
        font-weight: bold;
        padding-top: 25px;
        padding-left: 30px;

        @include intermedio {
            font-size: 26px;
        }

        @include mobile {
            font-size: 22px;
        }
    }
}

.contenedor-contacto {
    margin: auto;
    width: 80%;
    height: 80vh;

    .form-contacto {
        @include tablet {
            width: 100%;
        }

        @include intermedio {
            width: 100%;
        }

        form {
            margin: auto;
            width: 50%;
            display: flex;
            flex-direction: column;
            border: 1px solid #9fa6b2;
            border-radius: 10px;
            box-shadow: 3px 3px 2px 0px rgba(159, 166, 178, 1);

            @include tablet {
                width: 100%;
            }

            @include intermedio {
                width: 100%;
            }

            button {
                margin: 30px auto;
                width: 200px;
                font-size: 18px;

                @include intermedio {
                    width: 100px;
                }
            }

            label {
                color: $color-letra;
                align-items: left;
                font-size: 18px;
                margin: 10px 0 0 40px;
                padding-bottom: 10px;

                @include intermedio {
                    margin: 10px 0 0 20px;
                    font-size: 16px;
                }
            }

            .input-form {
                width: 90%;
                height: 40px;
                padding: 0 0;
                margin: auto;
                color: $color-letra;
                font-size: 16px;
                background-color: $verde-claro;
                border: 1px solid $verde-claro;
                border-radius: 10px;
            }

            #mensaje {
                width: 90%;
                height: 100px;
                padding: 10px 0 0 20px;
                margin: auto;
                color: $color-letra;
                font-size: 16px;
                background-color: $verde-claro;
                border: 1px solid $verde-claro;
                border-radius: 10px;
            }
        }
    }
}


// Pagina Muebles 

.contenedor-muebles {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card-productos {
        @include card (18rem, 50vh, 60%);

        @include mobile {
            width: 15rem;
        }
    }
}

// Sector Sillones

.contenedor-sillones {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card-productos {
        @include card (18rem, 45vh, 60%);

        @include mobile {
            width: 15rem;
            height: 50vh;
        }

    }
}

// Sector Sillas 

.contenedor-sillas {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card-productos {
        @include card(18rem, 45vh, 60%);

        @include mobile {
            width: 15rem;
            height: 50vh;
        }
    }
}

// Pagina Interiores 

.contenedor-lamparas {
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-productos {
        @include card (18rem, 55vh, 65%);

        @include mobile {
            width: 15rem;
            height: 50vh;

            img {
                height: 60%;
            }
        }
    }
}

// Sector Plantas 

.contenedor-plantas {
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-productos {

        @include card (17rem, 55vh, 65%);

        @include mobile {
            width: 15.5rem;
            height: 57vh;
        }
    }

}