* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    height: 100vh;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

/* Diseño del botón */

.button {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 14px;
    text-shadow: 1px 1px 0px #285C54;
    box-shadow: 3px 3px 3px #9fa6b2;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid #398378;
    background: #398378;
    background: linear-gradient(to top, #398378, #42968A);
    transition: all 0.5s;
}

.button:hover {
    color: #FFFFFF !important;
    background: #398378;
    background: linear-gradient(to top, #265C4B, #589A8D);
    transform: scale(1.02);

}

/* Barra de Navegación */

.navbar-nav {
    font-size: 20px;
    font-weight: 700;
}

.nav-link {
    color: #398378;
}

.nav-item a:hover {
    color: rgb(138 190 83);
}

.form-control {
    border: 1px solid grey;
}

/* Cuadro de Presentación */

.presentacion {
    height: 60px;
    margin-top: 20px;
    text-align: center;
    padding-top: 6px;
    color: #398378;
    font-size: 28px;
    font-weight: bold;
    border-top: 2px solid #398378;
    border-bottom: 2px solid #398378;
}

/* Ambientes Inicio */


.ambientes {
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.primer_ambiente {
    width: 400px;
    height: 80vh;
    margin: 0 30px;
    overflow: hidden;
    border-radius: 10px;

}

.primer_ambiente img {
    width: 100%;
    border-radius: 10px;
}

.card_ambiente {
    text-align: center;
}

.card_ambiente p {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    color: black;
    padding: 10px;
}

.segundo_ambiente {
    width: 60%;
    height: 80vh;
    overflow: hidden;
    border-radius: 10px;

}

.segundo_ambiente img {
    width: 100%;
    border-radius: 10px;
}

/* Productos Destacados de la Semana */

.contenedor-semana {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-semana {
    width: 18rem;
    margin: 30px;
    border: 1px solid #9fa6b2;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #9fa6b2;
    overflow: hidden;
    transition: all 0.5s;
}

.card-semana:hover {
    transform: scale(1.1);
}

.card-semana img {
    width: 100%;
    height: 40vh;
}

.card-body-semana {
    padding: 20px;
    text-align: center;
}

.card-body-semana h5 {
    text-align: left;
    font-weight: 700;
}

.card-body-semana p {
    text-align: left;
}

/* Mueble Destacado */

.contenedor-mueble-destacado {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 3px 3px 3px #9fa6b2;

}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
    font-weight: 400;
}

/* Footer */

footer {
    background-color: #398378;
}

.footer>div {
    text-align: center;
    margin: 20px 0;
}

.footer>div>p {
    color: black;
}

.contenedor-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px 0;
}

.columna-contacto h4 {
    color: black;
    text-align: left;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.columna-contacto p {
    color: black;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
}

.columna-redes h4 {
    color: black;
    font-size: 24px;
    font-weight: bolder;
}

.columna-redes img {
    width: 40px;
}

.columna-redes a {
    margin: 20px;
    text-decoration: none;
}

.logo-footer img {
    width: 300px;
}

.button-footer {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000000 !important;
    font-size: 14px;
    text-shadow: 0px 0px 0px #8FC1B5;
    padding: 10px 25px;
    border-radius: 10px;
    border: 3px outset #007566;
    background: #0FC2C0;
}

.button-footer:hover {
    color: #000000 !important;
    background: #0FC2C0;
    background: linear-gradient(to top, #0CABA8, #0FC2C0);
}

/* Pagina Nosotros */

.contenedor-nosotros {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.contenedor-nosotros>div {
    margin: 20px 0;
}

.info-nosotros {
    width: 50%;
    text-align: center;
    margin: 30px 0;
}

.info-nosotros p {
    color: black;
    font-size: 18px;
    text-align: left;
    margin: 20px;
}

/* Pagina Contacto */

.head-contacto {
    width: 80%;
    height: 80px;
    margin: 30px auto;
    background-color: #8ABE53;
    border-radius: 10px;

}

.head-contacto h1 {
    color: black;
    font-size: 28px;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 30px;
}

.contenedor-contacto {
    margin: auto;
    width: 80%;
    height: 80vh;
}


.form-contacto form {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid #9fa6b2;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 0px rgba(159, 166, 178, 1);
}

.form-contacto button {
    margin: 30px auto;
    width: 200px;
    font-size: 18px;

}

.form-contacto label {
    color: black;
    align-items: left;
    font-size: 18px;
    margin: 10px 0 0 40px;
    padding-bottom: 10px;
}

.input-form {
    width: 90%;
    height: 40px;
    padding: 0 0 0 20px;
    margin: auto;
    color: black;
    font-size: 16px;
    background-color: #8ABE53;
    border: 1px solid #8ABE53;
    border-radius: 10px;
}

#mensaje {
    width: 90%;
    height: 100px;
    padding: 10px 0 0 20px;
    margin: auto;
    color: black;
    font-size: 16px;
    background-color: #8ABE53;
    border: 1px solid #8ABE53;
    border-radius: 10px;
}

/* Pagina Muebles */

.contenedor-muebles {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-muebles {
    width: 18rem;
    height: 45vh;
    margin: 15px;
    border: 1px solid #9fa6b2;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #9fa6b2;
    overflow: hidden;
    transition: all 0.5s;
}

.card-muebles:hover {
    transform: scale(1.05);
}

.card-muebles img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.card-body-muebles {
    padding: 20px;
    text-align: center;
}

.card-body-muebles p {
    text-align: left;
}

.card-body-muebles h5 {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

/* Sector Sillones */
.contenedor-sillones {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-sillones {
    width: 18rem;
    height: 45vh;
    margin: 15px;
    border: 1px solid #9fa6b2;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #9fa6b2;
    overflow: hidden;
    transition: all 0.5s;
}

.card-sillones:hover {
    transform: scale(1.05);
}

.card-sillones img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

/* Sector Sillas */
.contenedor-sillas {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-sillas {
    width: 18rem;
    height: 45vh;
    margin: 15px;
    border: 1px solid #9fa6b2;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #9fa6b2;
    overflow: hidden;
    transition: all 0.5s;
}

.card-sillas:hover {
    transform: scale(1.05);
}

.card-sillas img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

/* Pagina Interiores */

.contenedor-lamparas {
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card-lamparas {
    width: 17rem;
    height: 55vh;
    margin: 15px;
    overflow: hidden;
    border: 1px solid #9fa6b2;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #9fa6b2;
    transition: all 0.5s;
}

.card-lamparas:hover {
    transform: scale(1.05);
}

.card-lamparas img {
    width: 100%;
    height: 70%;
}

.card-body-interiores {
    text-align: center;
}

.card-body-interiores p {
    text-align: left;
    padding-left: 20px;
}

.card-body-interiores h5 {
    padding: 10px 0 0 20px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

/* Sector Plantas */

.contenedor-plantas {
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-plantas {
    width: 17rem;
    height: 55vh;
    margin: 15px;
    overflow: hidden;
    border: 1px solid #9fa6b2;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #9fa6b2;
    transition: all 0.5s;
}

.card-plantas:hover {
    transform: scale(1.05);
}

.card-plantas img {
    width: 100%;
    height: 70%;
}


@media (max-width: 992px) {

    .ambientes {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .primer_ambiente {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .card_ambiente p {
        text-align: center;
    }

    .primer_ambiente img {
        width: 50%;
    }

    .segundo_ambiente {
        margin: 20px 0;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .segundo_ambiente img {
        width: 80%;
    }

    .contenedor-semana {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .contenedor-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .logo-footer {
        margin: 30px;
    }

    .contenedor-nosotros {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-nosotros {
        width: 90%;
    }

    .info-nosotros p {
        font-size: 16px;
    }

    .info-nosotros img {
        width: 100%;
    }

    .mapa {
        width: 100%;
        text-align: center;
    }

    .mapa iframe {
        width: 80%;
    }

    .contenedor-contacto {
        width: 100%;
    }

    .form-contacto form {
        width: 80%;
    }

    .form-contacto label {
        margin: 10px 0 0 40px;
    }



}

@media (max-width: 695px) {

    .presentacion {
        font-size: 24px;
    }
    .contenedor-footer {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .contenedor-footer h4 {
        font-size: 20px;
    }

    .footer>div>p {
        font-size: small;
    }

    .logo-footer {
        order: -1;
    }

    .logo-footer img {
        width: 70%;
    }

    .columna-contacto h4 {
        text-align: center;
    }

    .columna-contacto p {
        font-size: 18px;

    }

    .columna-redes img {
        width: 40px;
    }
    .form-contacto {
        width: 100%;
    }

    .form-contacto form {
        width: 90%;
    }

    .form-contacto label {
        margin: 10px 0 0 20px;
        font-size: 16px;
    }

    .form-contacto button {
        width: 100px;
    }
}

@media (max-width: 380px) {
    .presentacion p {
        font-size: 22px;
        padding: 5px 0;
    }

    .card_ambiente p {
        font-size: 16px;
    }

    .contenedor-semana {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .card-semana img {
        height: 40vh;

    }

    .contenedor-footer {
        flex-wrap: nowrap;

    }

    .contenedor-footer h4 {
        font-size: 18px;
    }

    .footer>div>p {
        font-size: small;
    }

    .logo-footer {
        order: -1;
    }

    .logo-footer img {
        width: 80%;
    }

    .columna-contacto h4 {
        text-align: center;
    }

    .columna-contacto p {
        font-size: 14px;

    }

    .columna-redes img {
        width: 30px;
    }

    .info-nosotros p {
        width: 90%;
    }

    .nav-logo {
        margin: auto;
    }

    .card-muebles {
        width: 14rem;
        height: 35vh;
        margin: 15px;
    }

    .card-body-muebles {
        padding: 20px;
        text-align: center;
    }

    .card-body-muebles p {
        text-align: left;
    }

    .card-body-muebles h5 {
        text-align: left;
        font-size: 18px;
        font-weight: bold;
    }


}